<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<title>参加活动人员</title>
	<link  rel="stylesheet"  href="/public/css/bootstrap.min.css">
	<script type="text/javascript" src="__STATIC__/js/jquery-1.9.1.min.js"></script>
	<script src="/public/js/bootstrap.min.js"></script>
</head>
<body>
<div>
	<div style="width: 49%;float: right;">确认消费人数：{$use}</div>
	<div style="float: right;width: 49%;">未消费人数：{$nouse}</div>
</div>
<div class="input-group" style="width:100%;margin-top:0px positon:relative">
	<input type="text" class="form-control"placeholder="请输入手机号" / >
	<span class="input-group-btn">
	   <button class="btn btn-info btn-search">确认消费</button>
	</span>
</div>
<table class="table table-striped">
	<thead>
		<tr>
			<th>姓名</th>
			<th>手机</th>
			<th>状态</th>
		</tr>
		</thead>
	<tbody>
	{foreach $orders as $o}
		<tr>
			<td>{$o.name}</td>
			<td>{$o.mobile}</td>
			<td>{$o.is_use? '已消费': '未消费'}</td>
		</tr>
	{/foreach}
	</tbody>
</table>
</body>
<script>
</script>
</html>