<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<title>活动列表</title>
<link rel="stylesheet" type="text/css" href="__STATIC__/css/iconfont/iconfont.css"/>
<link rel="stylesheet" type="text/css" href="__STATIC__/css/common.css"/>
<link rel="stylesheet" type="text/css" href="__STATIC__/css/application.css"/><link rel="stylesheet" type="text/css" href="/public/js/webuploader/webuploader.css?v=21">
<script type="text/javascript" src="__STATIC__/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="__STATIC__/js/index.js" ></script>
	<style>
		.add-photo-wrap li {
			display: inline-block;
			width: 31%;
			margin: 3px 0.5%;
			padding-bottom: 31%;
			overflow: hidden;
			border-radius: 5px;
			position: relative;
		}
		.add-photo-wrap li a {
			width: 100%;
			height: 100%;
			overflow: hidden;
			border-radius: 5px;
			position: absolute;
			left: 0;
			top: 0;
		}
		.add-photo-wrap li a img {
			display: block;
			width: 100%;
			height: 100%;
			border-radius: 5px;
		}
	</style>
</head>
<body>
	<section class="activityedit">
		<div class="activityedit-wrap">
				<div class="fn-clear item">
					<label class="tit">活动标题:</label>
					<div class="input-wrap">
						<input type="text" value="{$product.title}" placeholder="请输入活动标题" class="txt-border title" />
					</div>
				</div>
				<div class="fn-clear item">
					<label class="tit">活动商品库存:</label>
					<div class="input-wrap">
						<input type="text" value="{$product.number}" placeholder="请输入活动商品数量" class="txt-border number" />
					</div>
				</div>
				<div class="fn-clear item">
					<label class="tit">活动商品原价:</label>
					<div class="input-wrap">
						<input type="text" value="{$product.old_price}" placeholder="" class="txt-border old_price" />
					</div>
				</div>
				<div class="fn-clear item">
					<label class="tit">活动商品底价:</label>
					<div class="input-wrap">
						<input type="text" value="{$product.low_price}" placeholder="" class="txt-border low_price" />
					</div>
				</div>
				<div class="fn-clear item">
					<label class="tit">上传活动主图:</label>
					<div class="intr-img-list">
						<div class="imgitem img"><!--上传商家介绍图后样式 -->
							<img src="__STATIC__/images/temp/data01.jpg"/>
							<a href="javascript:;" class="del-btn">X</a><!--删除按钮-->
						</div>
						<div class="imgitem addimg-btn" onclick="dian('return_first_pic', this)"><!--上传商家介绍图按钮样式 -->
						</div>
					</div>
					<div class="fn-clear"></div>
				</div>
				<div class="fn-clear item">
					<label class="tit">商品描述:</label>
					<div class="input-wrap">
						<input type="text" value="{$product.desc}" placeholder="请输入商品描述" class="txt-border desc" />
					</div>
				</div>
				<div class="fn-clear item">
					<label class="tit">上传商品图片:</label>
					<ul class="add-photo-wrap">
						<!--最多上传6张照片-->
						<li onclick="dian('return_pic', this)">
							<a data-state="true" class="file_upload">
								<img src="/public/img/add_user_photo.jpg" />
							</a>
						</li>
						{foreach $product.pic as $p}
						{if $p}
						<li>
							<a>
								<img src="{$p}" />
							</a>
						</li>
						{/if}
						{/foreach}
					</ul>
				</div>
				<div class="fn-clear item">
					<label class="tit">累计多少人砍价达到底价:</label>
					<div class="input-wrap">
						<input type="text" value="{$product.count}" placeholder="累计多少人砍价达到底价" class="txt-border count" />
					</div>
				</div>
				<div class="fn-clear item">
					<label class="tit">活动起止时间:</label>
					<div class="input-wrap">
						<input type="text" value="{$product.start_time |substr=0,10}" class="txt-border txt-s start_time" /><span>-</span>
						<input type="text" value="{$product.end_time| substr=0,10}" class="txt-border txt-s end_time" />
					</div>
				</div>
				<div class="fn-clear item">
					<label class="tit">活动规则:</label>
					<div class="input-wrap">
						<textarea class="txt-border txtarea rule">{$product.rule}</textarea>
					</div>
				</div>
				<div class="fn-clear btn-wrap">
					<input type="button" value="提交" class="btn" onclick="submit({$product.id})"/>
				</div>
		</div>
	</section>
	<!--用来存放item-->
	<div id="fileList" class="uploader-list" style="display: none;">
		<div class="file-item " style="position: relative;">
			<div id="filePicker">选择图片</div>
		</div>
	</div>
</body>
<script src="/public/js/jquery.min.js"></script>
<script src="/public/js/webuploader/webuploader.min.js"></script>
<script src="/public/js/webuploader/webuploader-demo.js?v=6"></script>
<script>
    first_pic = "{$product.first_pic}";
    pic = "{$product.pic_str}";
    img_type = '';
    function dian(type, self) {
        var url = '/index/upload/img?type=' + type + '&id={$product.id}';
        img_type = type;
        $list = $(self).parent();
        uploader.option('server', url);
        $('.webuploader-element-invisible').click();
    }
    function submit(id) {
        var data = {
            title: $('.title').val(),
            name: $('.name').val(),
            number: $('.number').val(),
            old_price: $('.old_price').val(),
            low_price: $('.low_price').val(),
            start_time: $('.start_time').val(),
            end_time: $('.end_time').val(),
            count: $('.count').val(),
            rule: $('.rule').val(),
            desc: $('.desc').val(),
            first_pic: first_pic,
            pic: pic,

        }
        $.post('/k/shop/product_edit?id=' + id, data, function(res) {
            if(res.status == 'ok')
                location.href = '/k/shop/product_list';
            else {
                alert(res.msg);
            }
        });

    }
</script>
</html>