<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<title>活动列表</title>
<link rel="stylesheet" type="text/css" href="__STATIC__/css/iconfont/iconfont.css"/>
<link rel="stylesheet" type="text/css" href="__STATIC__/css/common.css"/>
	<link rel="stylesheet" type="text/css" href="/public/js/webuploader/webuploader.css"/>
<link rel="stylesheet" type="text/css" href="__STATIC__/css/application.css"/>
<script src="/public/js/jquery.min.js"></script>
	<script src="/public/js/layer/layer.js" ></script>
<script type="text/javascript" src="__STATIC__/js/index.js" ></script>

		<style>
			li {
				position: relative;
			}
			.close:focus, .close:hover {
				color: #000;
				text-decoration: none;
				cursor: pointer;
				filter: alpha(opacity=50);
				opacity: .5;
			}
			button.close {
				-webkit-appearance: none;
				padding: 0;
				cursor: pointer;
				background: 0 0;
				border: 0;
			}
			.close {
				color: red;
				z-index: 999;
				position: absolute;
				right: 5px;
				font-size: 21px;
				font-weight: 700;
				line-height: 1;
				text-shadow: 0 1px 0 #fff;
				filter: alpha(opacity=20);
				opacity: .7;
			}
			.add-photo-wrap li {
				display: inline-block;
				width: 31%;
				margin: 3px 0.5%;
				padding-bottom: 31%;
				overflow: hidden;
				border-radius: 5px;
				position: relative;
			}
			.add-photo-wrap li a {
				width: 100%;
				height: 100%;
				overflow: hidden;
				border-radius: 5px;
				position: absolute;
				left: 0;
				top: 0;
			}
			.add-photo-wrap li a img {
				display: block;
				width: 100%;
				height: 100%;
				border-radius: 5px;
			}
	</style>
</head>
<body>
	<section class="activityedit">
		<div class="activityedit-wrap">
				<div class="fn-clear item">
					<label class="tit">活动标题:</label>
					<div class="input-wrap">
						<input type="text" value="" placeholder="请输入活动标题" class="txt-border title" />
					</div>
				</div>
				<div class="fn-clear item">
					<label class="tit">活动商品库存:</label>
					<div class="input-wrap">
						<input type="text" value="" placeholder="请输入活动商品数量" class="txt-border number" />
					</div>
				</div>
				<div class="fn-clear item">
					<label class="tit">活动商品原价:</label>
					<div class="input-wrap">
						<input type="text" value="" placeholder="请输入活动商品原价" class="txt-border old_price" />
					</div>
				</div>
				<div class="fn-clear item">
					<label class="tit">活动商品底价:</label>
					<div class="input-wrap">
						<input type="text" value="" placeholder="请输入活动商品底价" class="txt-border low_price" />
					</div>
				</div>
				<div class="fn-clear item">
					<label class="tit">上传活动主图:</label>
					<div class="intr-img-list">
						<div class="imgitem img"><!--上传商家介绍图后样式 -->
							<img src="__STATIC__/images/temp/data01.jpg"/>
						</div>
						<div class="imgitem addimg-btn" onclick="dian('return_first_pic', this)"><!--上传商家介绍图按钮样式 -->
						</div>
					</div>
					<div class="fn-clear"></div>
				</div>
				<div class="fn-clear item">
					<label class="tit">商品与活动描述:</label>
					<textarea class="txt-border txtarea desc">
					</textarea>
				</div>
				<div class="fn-clear item">
					<label class="tit">上传商品图片:</label>
					<ul class="add-photo-wrap">
						<!--最多上传6张照片-->
						<li onclick="dian('return_pic', this)">
							<a  data-state="true" class="file_upload">
								<img src="/public/img/add_user_photo.jpg" />
							</a>
						</li>
					</ul>
				</div>
				<div class="fn-clear item">
					<label class="tit">累计多少人砍价达到底价:</label>
					<div class="input-wrap">
						<input type="text" value="" placeholder="累计多少人砍价达到底价" class="txt-border count" />
					</div>
				</div>
				<div class="fn-clear item">
					<label class="tit">活动起止时间:</label>
					<div class="input-wrap">
						<input type="text" value="" class="txt-border txt-s start_time" placeholder="例如：20110101"/><span>-</span>
						<input type="text" value="" class="txt-border txt-s end_time" placeholder="例如：20110101"/>
					</div>
				</div>
				<div class="fn-clear item">
					<label class="tit">活动规则:</label>
					<div class="input-wrap">
						<textarea class="txt-border txtarea rule">1.点击上方按钮“我也要参加”进行报名。
2.报名者自己点击【我也要参加】。
3.朋友也能帮您减，报名成功后，朋友点开即可轻松帮您砍价。
4.本商品不退款，砍至底价，使用微信支付后算报名成功。
领奖地址：
领奖电话：

						</textarea>
					</div>
				</div>

			<div class="fn-clear  item">
				<label class="tit">请上传背景音乐（mp3音频格式）:</label>
				<div class="input-wrap">
					<div id="uploader" class="wu-example">
						<!--用来存放文件信息-->
						<div id="thelist" class="file-list"></div>
						<div class="btns">
							<div id="picker">选择文件</div>
						</div>
					</div>
				</div>
			</div>

				<div class="fn-clear btn-wrap">
					<input type="button" value="提交" class="btn" onclick="submit();"/>
				</div>
		</div>
	</section>

	<div id="myModal" class="uploader-list" style="display: none;">
		<div class="file-item " style="position: relative;">
			<div id="filePicker">选择图片</div>
		</div>
	</div>
</body>
<script src="/public/js/jquery.min.js"></script>
<script src="/public/js/webuploader/webuploader.min.js"></script>
<script src="/public/js/webuploader/fileUpload-demo.js?v=5"></script>
<script src="/public/js/webuploader/webuploader-demo.js?v=11"></script>
<link rel="stylesheet" type="text/css"  href="/public/js/mobiscroll/mobiscroll.min.css">
<script src="/public/js/mobiscroll/mobiscroll.min.js"></script>

<script>
    $(function(){
        $(".start_time").mobiscroll().date({
            theme: "material",
            lang: "zh",
            display:'bottom',
            dateFormat: 'yyyy-mm-dd',
            headerText: '请选择活动开始时间',
            onSelect: function (valueText, inst) {
                $(this).find(".mbase-menu-txt").html(valueText);
            }
        });
        $(".end_time").mobiscroll().date({
            theme: "material",
            lang: "zh",
            display:'bottom',
            dateFormat: 'yyyy-mm-dd',
            headerText: '请选择活动结束时间',
            onSelect: function (valueText, inst) {
                $(this).find(".mbase-menu-txt").html(valueText);
            }
        });
    });
    bg_music = '';
    first_pic = '';
    pic = '';
    img_type = '';
    function remove_img(self) {
        var reg = /,$/gi;
        var index = $(self).parents('li').index(),
            pic_array = pic.replace(reg, "").split(",");
        pic_array.splice(index - 1, 1);
        pic = pic_array.join();
        pic = pic ? pic + ',' : '';
        $(self).parents('li').remove();
    }

	function dian(type, self) {
        var url = '/index/upload/img?type=' + type;
        img_type = type;
        $list = $(self).parent();
        uploader.option('server', url);
        $('#filePicker .webuploader-element-invisible').click();
    }
    function submit() {
        var data = {
            title: $('.title').val(),
            rule: $('.rule').val(),
			count: $('.count').val(),
            name: $('.name').val(),
            number: $('.number').val(),
            old_price: $('.old_price').val(),
            low_price: $('.low_price').val(),
            start_time: $('.start_time').val(),
            end_time: $('.end_time').val(),
            desc: $('.desc').val(),
			first_pic: first_pic,
			pic: pic,
            bg_music: bg_music
        }
        $.post('/k/shop/product_new', data, function(res) {
            if(res.status == 'ok') {
                layer.open({
                    content: '是否继续添加多个商品？'
					{if $expire && !$is_pay}
                    ,btn: ['立即付款', '继续添加']
                    ,yes: function(){
                    	location.href = '/k/shop/tip';
                	}
					{else}
					,btn: ['返回商品列表', '继续添加']
						,yes: function(){
						$.post('/k/shop/complete', {}, function(res) {
						    if(res.msg) {
						        alert(res.msg);
							}
                            location.href = '/k/shop/product_list';
						});
					}
					{/if}
                    ,no: function() {
                        location.reload();
                    }
                });

            } else {
                alert(res.msg);
            }
        });

    }

</script>
</html>