<style>
    #edit_table_list_2 {
        display: none;
    }
</style>
<!-- jqgrid-->
<link href="/public/css/jqgrid/ui.jqgrid.css?0820" rel="stylesheet">

<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="jqGrid_wrapper">
                <table id="table_list_2"></table>
                <div id="pager_list_2"></div>
            </div>
        </div>
    </div>
</div>

<!-- jqGrid -->
<script src="/public/js/jqgrid/i18n/grid.locale-cn.js?0820"></script>
<script src="/public/js/jqgrid/jquery.jqGrid.min.js?0828"></script>
<script src="/public/js/table.js?v=32"></script>
<!-- Page-Level Scripts -->
<script>
    $(document).ready(function () {
        var id = "table_list_2";
        $grid = $("#table_list_2");

        var config = [
            {'str': '订单号', 'name': 'order_id', 'align':'center'},
            {'str': '付款金额', 'name': 'userid', 'align':'center', width:80},
            {'str': '联系人手机', 'name': 'mobile', 'align':'center', width:80},
            {'str': '联系人姓名', 'name': 'name', 'align':'center', width:80},
            {'str': '操作', 'name': 'userid', 'align':'center', formatter: function (data) {
                return "<a>详情</a>"

            }}
        ];
        var params = {
            },
            other = {
                edit: false,
                add: false,
                del: false,
                search: true,
            }

        jgrid_init($grid, config, params, 180, '/admin/bill/?type=bill', '#pager_list_2', null, {cellEdit : false},other );


    });
</script>
